<style>
  li, h1 {
    text-align: center;
  }
  .align-right {
    text-align: right;
    font-size: 8px;
  }
</style>

<h1>Sevr anlaşması</h1>
<ul>
  <li>Burkay'ın bir kevaşe olduğu kabul edilecek</li>
  <li>Türkiye 2023'e kadar bor çıkaramayacak</li>
  <li>Türkiye'nin süper güç olması engellenecek</li>
  <li>Türk vatandaşlarının büyük oyunu görmesi engellenmeye çalışılacak</li>
  <li>Tolga'nın yerli ve milli amaçlar için çalışması engellenecek</li>
  <li>Düdüklü tavuk çalınmayacak</li>
  <li>Çinden ucuz ürün getirilmeyecek</li>
  <li>Trap müzik çalınmayacak</li>
  <li>Bu milletin bu oyunlara gelmemesi engellenecek</li>
  <br>
  <p class="align-right">Not: Bu anlaşma çok gizlidir ve 100 yıl sürecek</p>
</ul>
